
body { 
	background-image: url("imagenes/3.jpg")
	 }
.1{
	color: black;
}

#Vec0{

	 width: 250px;
	 background-color:white; 

}
#Vec1{

	  width: 250px;
	  background-color:white; 
}
#Vec2{

	  width: 250px;
	  background-color:white; 
}
#Vec3{

	  width: 250px;
	  background-color:white; 
}
#Vec4{

	  width: 250px;
	  background-color:white; 
}



